$header_slim_height: 41.6px;

.it-header-slim-wrapper {

    .it-header-slim-wrapper-content {
        max-height: $header_slim_height;
    }

    @media (min-width: $screen-lg-narrow) {
        max-height: $header_slim_height;
    }

    .uniba-topbar {
        @include no-margin;
        background-color: $uniba-dark;
        padding: 0px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: $header_slim_height;
        

        &__nav {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            max-height: $header_slim_height;

            @media (max-width: $screen-lg-narrow) {
                background-color: $uniba-dark;
                width: 100%;
            }
        }

        &__collapse {
            display: none;
            position: relative;
            top: 0.8em;

            &>a {
                color: #fff !important;
                padding: 1em;
                padding-right: 0;
                margin-top: 2.5rem;
                position: relative;
                text-decoration: none !important;
                z-index: 9999;

                &.out {
                    .Icon-collapse {
                        display: inherit;
                        content: '\23f7';
                    }

                    .Icon-expand {
                        display: none;
                        content: '\23f6';
                    }
                }

                &.out.collapsed {
                    .Icon-expand {
                        display: inherit !important;
                        content: '\23f6';
                    }

                    .Icon-collapse {
                        display: none !important;
                        content: '\23f7';
                    }
                }

                .Icon-collapse::before {
                    content: '\23f7';
                }

                .Icon-expand::before {
                    content: '\23f6';
                }
            }

            @media (max-width: $screen-sm) {
                display: inline-block;
            }
        }

        &__tornauniba {
            background-color: $uniba-light-2;
            display: flex;
            align-items: center;
            margin-right: ($padding-base-horizontal * 2);
            position: relative;
            z-index: 0;
            min-width: 120px;
            justify-content: flex-end;
            max-height: $header_slim_height;
            width: 10vw;

            img {
                max-height: 100%;
                vertical-align: middle;
                display: inline-block !important;
            }

            a {
                color: $uniba;
                display: block;
                padding: 0.5em;
                text-align: right;
                text-decoration: none;
            }

            &:before {
                background: $uniba-light-2;
                content: ' ';
                height: 100%;
                left: -40vw;
                position: absolute;
                top: 0;
                width: 40vw;
                z-index: -1;
            }

            &:after {
                content: ' ';
                background: $uniba-light-2;
                display: block;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                transform-origin: bottom left;
                -ms-transform: skew(-20deg, 0deg);
                -webkit-transform: skew(-20deg, 0deg);
                transform: skew(-20deg, 0deg);
                width: ($padding-base-horizontal * 2);
                z-index: -1;
            }

            @media (max-width: $screen-xs-max) {
                width: 40vw;
            }
        }

        &__list {
            @include no-margin;
            @include no-padding;

            display: flex;
            align-items: center;
            height: 100%;
            padding-left: 0 !important;
            height: $header_slim_height;

            li {
                display: inline-block;

                a {
                    color: $uniba-light-2;
                    text-transform: uppercase;
                    padding: 0.5em;
                    border-left: 1px solid $uniba;
                    text-decoration: none !important;
                    display: inline-flex;
                    align-items: center;
                    line-height: 1.5;
                    font-size: 1.4rem;

                    @media (max-width: $screen-sm) {
                        /* A */
                        border-top: 1px solid $uniba;
                        border-left: none;
                        padding: 1.2em;
                    }
                }

                &:first-child {
                    a {
                        border: none;
                    }

                    .divider.text {
                        border: none !important;
                    }
                }

                @media (max-width: $screen-sm) {
                    /* LI */

                    display: block;
                }

                .ui.dropdown {
                    height: $header_slim_height;
                }
            }

            @media (max-width: $screen-sm) {
                /* __list */

                display: none;
                margin-top: 1em;
                margin-bottom: 1em;
            }

            &.in {
                background-color: $uniba-dark;
                display: block;
                left: 0;
                margin: 0;
                position: absolute;
                right: 0;
                width: 100%;
                z-index: 9991;
                top: 41.6px;

                .menu.transition.visible {
                    min-width: auto !important;
                    max-width: 100vw !important;
                }

                li a {
                    width: 100vw;
                }
            }

            .ui.dropdown {
                display: inline-flex;
                align-items: center;
            }
        }

        @media (max-width: $screen-lg-narrow) {
            /* __topbar__ */
            z-index: 9990;
            height: auto;
        }

        .unibaheader-toggle {
            &:after {
                font-family: 'ita';
                font-style: normal;
                font-weight: 100;
                line-height: 1;
                border-radius: 4px;
                content: '\23f6';
                cursor: pointer;
                display: inline-block;
                line-height: 1;
                width: 1.5em;
                height: 1.5em;
                font-size: 0.7em;
                margin-left: 0.5em;
                transition: ease-in 0.15s;
            }
        }

        .menu.transition.visible {
            background-color: #013553;
            padding: 1em;
            position: absolute;
            z-index: 4000;
            right: auto;
            width: auto;
            margin: 0;
            top: 38px;
            left: auto;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            h7 {
                color: $uniba-gray;
            }

            &>*>*>div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                ul {
                    list-style: none;

                    li {
                        display: list-item;
                        padding: 0.25rem;

                        a {
                            padding: 0;
                            text-decoration: none;
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                left: 0;
                                bottom: -2px;
                                width: 100%;
                                height: 2px;
                                background-color: currentColor;
                                transform: scaleX(0);
                                transform-origin: bottom right;
                                transition: transform 0.5s ease;
                            }

                            &:hover::after {
                                transform: scaleX(1);
                                transform-origin: bottom left;
                            }
                        }
                    }
                }
            }
        }


        i.dropdown.icon {
            font-size: 1.5rem !important;
            color: white;
            margin-right: 0.5rem !important;
        }

        .ui.dropdown .divider.text {
            color: $uniba-light-2;
            text-transform: uppercase;
            padding: 0.5em;
            border-left: 1px solid $uniba;
            text-decoration: none !important;
            display: block;
            font-size: 1.4rem;
        }
    }
}