.uniba-topbar__tornauniba {
    background-color: #d1e1ee;
    display: inline-block;
    margin-right: 24px;
    position: relative;
    width: 10vw;
    z-index: 0;
    min-width: 120px;
}

.uniba-topbar__tornauniba::before {
    background: #d1e1ee;
    content: ' ';
    height: 100%;
    left: -40vw;
    position: absolute;
    top: 0;
    width: 40vw;
    z-index: -1;
}