@use "sass:color";
@use '../../all_variables' as *;

@mixin header(
  $subsite-primary,
  $subsite-primary-text,
  $subsite-secondary,
  $subsite-secondary-text
) {
  &,
  &.cms-ui,
  &.public-ui {
    .subsite-header {
      background-color: $subsite-secondary;

      .text {
        color: $subsite-secondary-text;
        a {
          @if $subsite-primary != $subsite-secondary {
            background-color: $subsite-primary !important;
            color: $subsite-primary-text !important;

            &:hover {
              background-color: color.adjust($subsite-primary, $lightness: -5%) !important;
            }
          } @else {
            background-color: $subsite-primary-text !important;
            color: $subsite-primary !important;

            &:hover {
              background-color: color.adjust($subsite-primary-text, $lightness: -5%) !important;
            }
          }
        }
      }
    }
  }
}
